.text_article {
	font-family:Arial,Helvetica,sans-serif;
	margin:0px auto;
	width:980px;
	line-height:1.2em;
}

.tweets_container {
	width: 105%;
}

.tweets_window{
	display:inline-block;
	width:31%;
	height: 500px;
	background:#f4f4f4;
	border:1px solid #ddd;
	margin:0 10px 20px 0px;
	overflow: scroll;
}

@media screen and (max-width: 600px) {
    .tweets_window {
        width: 100%;
        display: block;
    }
}

.tweet {
	background-color: white;
	margin: 10px;
	padding: 5px 10px 5px 10px;
	border: 1px solid grey;
	border-radius: 4px;
	box-shadow: 3px 3px 5px #888888;
}

.tweet .property {
	padding-bottom: 5px;
}

.tweet .header {
	margin-bottom: 10px;
}

.tweet .header .profile_image {
	float: left;
	margin-right: 10px;
}

.clearfix {
	clear:both;
}

#preferences_view {
	margin:0px auto 20px auto;
	width:980px;
}

.preferences{
	display: none;
	margin-top: 10px;
}

a.togglePreferences {
	font-size: 30px;
	font-family: sans-serif;
}

ul.sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.sortable li {
	margin: 0 3px 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	font-size: 1.2em;
	height: 18px;
	cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

ul.sortable li:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}